.wrap-content {
  padding: 20px;
}

.header-page {
  text-align: center;
  margin: 10px 0;
  .page-title {
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 1.3;
  }
  .page-author {
    color: $dark-gray;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.page-cover-image {
  position: relative;
  padding: 0;
  margin: 0;
  max-height: 550px;
  background-color: $lightgray;
  overflow: hidden;
  figure {
    position: relative;
    margin: 0;
  }
  figcaption {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
  }
  .page-image {
    width: 100%;
    height: 100%;
  }
}

.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 30px 0;
  border-bottom: 1px solid $dark-gray;
  .page-share {
    margin-bottom: 10px;
    text-align: left;
    a {
      display: inline-block;
      text-decoration: none;
      border: 1px solid $dark-blue;
      padding: 5px 10px;
      margin-left: 5px;
      color: $dark-blue;
      font-size: 12px;
      transition: background-color 0.3s;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .page-tag {
    a {
      text-decoration: none;
      font-size: 10px;
      padding: 5px 10px;
      margin-left: 5px;
      color: $dark-blue;
      text-transform: uppercase;
      border: 1px solid $dark-blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.download-container {
  margin-top: 20px;
  display: table;
  width: 100%;
  line-height: 100px;
  a {
    float: left;
    height: 100px;
    img {
      height: 100%;
    }
  }
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 20s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-164px * 8));
  }
}

// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 256px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 256px;
    position: absolute;
    width: 6%;
    z-index: 2;
  }

  &::after {
    right: -1px;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: -1px;
    top: 0;
  }

  .slide-track {
    position: absolute;
    top: 0;
    left: 0;
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(164px * 16);
  }

  .slide {
    height: 256px;
    width: 164px;
    padding: 0 10px;
    position: relative;
  }
}

.flashy-bird {
  display: inline-block;
  background-image: url("/assets/img/flashybird-flying.png");
  width: 34px;
  height: 24px;
  animation: flashybird-flapping 0.5s steps(3) infinite;
}

@keyframes flashybird-flapping {
  0% {
    background-position: 0 0;
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    background-position: -102px 0;
  }
}

.angry-santa-container {
  text-align: center;
  .angry-santa-controller {
    display: inline-block;
    text-align: left;
    #angry-santa {
      min-height: 105px;
      background-repeat: no-repeat;
    }
    .angry-santa-control-board {
      margin-top: 5px;
      .control-button {
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
    .santa-idle {
      display: inline-block;
      background-image: url("/assets/img/santa-idle.png");
      width: 96px;
      height: 87px;
      animation: santa-idle 0.5s steps(5) infinite;
    }
    @keyframes santa-idle {
      0% {
        background-position: 0 18px;
      }
      100% {
        background-position: -480px 18px;
      }
    }
    .santa-gift {
      display: inline-block;
      background-image: url("/assets/img/santa-gift.png");
      width: 144px;
      height: 87px;
      animation: santa-gift 0.5s steps(5) 0ms 1 normal both;
    }
    @keyframes santa-gift {
      0% {
        background-position: 0 18px;
      }
      100% {
        background-position: -720px 18px;
      }
    }
    .santa-cough {
      display: inline-block;
      background-image: url("/assets/img/santa-cough.png");
      width: 96px;
      height: 87px;
      animation: santa-cough 0.45s steps(3) 0ms 1 normal both;
    }
    @keyframes santa-cough {
      0% {
        background-position: 0 18px;
      }
      100% {
        background-position: -288px 18px;
      }
    }
    .santa-run {
      display: inline-block;
      background-image: url("/assets/img/santa-run.png");
      width: 96px;
      height: 99px;
      animation: santa-run 0.86s steps(8) infinite;
    }
    @keyframes santa-run {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -768px 0;
      }
    }
    .santa-punch {
      display: inline-block;
      background-image: url("/assets/img/santa-punch.png");
      width: 96px;
      height: 87px;
      animation: santa-punch 0.45s steps(4) 0ms 1 normal both;
    }
    @keyframes santa-punch {
      0% {
        background-position: 0 18px;
      }
      100% {
        background-position: -384px 18px;
      }
    }
    .santa-kick {
      display: inline-block;
      background-image: url("/assets/img/santa-kick.png");
      width: 192px;
      height: 105px;
      animation: santa-kick 0.86s steps(8) 0ms 1 normal both;
    }
    @keyframes santa-kick {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -1536px 0;
      }
    }
  }
}

.small-post {
  flex-basis: 49%;
  .post-content {
    text-align: center;
    width: 100%;
  }
}
.small-post-left {
  margin: 0 1% 1.5rem 0;
}
.small-post-right {
  margin: 0 0 1.5rem 1%;
}

.spider-monster-container {
  text-align: center;
  margin-top: 30px;
  min-width: 297px;
  .health-bar {
    display: inline-block;
    filter: none;
    transition: filter 1.5s;
    width: 128px;
    height: 34px;
    background-image: url("/assets/img/health-bar.png");
    position: relative;
    .health {
      position: absolute;
      right: 2px;
      top: 10px;
      width: 98px;
      height: 14px;
      [class*="health-"] {
        position: absolute;
      }
      .health-1 {
        background-image: url("/assets/img/health1.png");
        width: 22px;
        height: 14px;
      }
      .health-2 {
        background-image: url("/assets/img/health2.png");
        width: 42px;
        height: 14px;
        left: 10px;
      }
      .health-3 {
        background-image: url("/assets/img/health3.png");
        width: 48px;
        height: 14px;
        left: 40px;
      }
      .health-4 {
        background-image: url("/assets/img/health4.png");
        width: 22px;
        height: 14px;
        left: 76px;
      }
      .health-lost {
        animation: health-lost 0.5s linear 0ms 1 normal forwards;
      }
      @keyframes health-lost {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
  .health-bar-empty {
    filter: grayscale(100%);
  }
  .no-display-block {
    display: none;
  }
  #spider-monster {
    background-repeat: no-repeat;
    display: inline-block;
  }
  .spider-collision {
    cursor: url("/assets/img/gun-crosshair.svg") 32 32, crosshair;
    display: inline-block;
    width: 155px;
    height: 135px;
    margin-top: 10px;
  }
  .spider-idle {
    margin-top: 25px;
    width: 214px;
    height: 182px;
    background-image: url("/assets/img/spider-idle.jpg");
    animation: spider-idle 1.5s steps(48) 0ms infinite;
    transform: scaleX(-1);
  }
  @keyframes spider-idle {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -10272px 0;
    }
  }
  .spider-die {
    margin-left: -17px;
    margin-top: -5px;
    width: 297px;
    height: 219px;
    background-image: url("/assets/img/spider-die.png");
    animation: spider-die 1.5s steps(23) 0ms 1 normal both;
    transform: scaleX(-1);
    .spider-collision {
      width: 155px;
      height: 100px;
      margin-left: 65px;
      margin-top: 100px;
    }
    .spider-rip-collision {
      cursor: url("/assets/img/rip-icon.png") 32 32, auto;
    }
  }
  @keyframes spider-die {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -6831px 0;
    }
  }
  .spider-hurt {
    margin-top: 18px;
    width: 220px;
    height: 190px;
    background-image: url("/assets/img/spider-hurt.png");
    animation: spider-hurt 0.75s steps(6) 0ms 1;
    transform: scaleX(-1);
  }
  @keyframes spider-hurt {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1320px 0;
    }
  }
}

.transition-gray-background {
  transition: background-color 2s;
  background-color: gray;
}

.lantern-container {
  .lantern {
    background-image: url("/assets/img/lantern.png");
    width: 260px;
    height: 268px;
  }
}
