$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;
$blue: #1199EE;
$green: #10ac84;
$red: #EE4444;
$large: 1.50em;
$default: 1.25em;
$medium: 1em;
$small: 0.9em;
